# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
indent_style = tab
indent_size = 4
end_of_line = lf
charset = utf8mb4
trim_trailing_whitespace = false
insert_final_newline = true
max_line_length = 120
